.f-fs12{font-size: 12px;}
.f-fs13{font-size: 13px;}
.f-fs14{font-size: 14px;}
.f-fs15{font-size: 15px;}
.f-fs16{font-size: 16px;}
.f-fs18{font-size: 18px;}
.f-fs20{font-size: 20px;}
.f-fs22{font-size: 22px;}
.f-fs24{font-size: 24px;}
.f-fs26{font-size: 26px;}
.f-fs28{font-size: 28px;}
.f-fs30{font-size: 30px;}
.f-fs32{font-size: 32px;}
.f-fs34{font-size: 34px;}
.f-fs36{font-size: 36px;}
.f-fs38{font-size: 38px;}
.f-fs40{font-size: 40px;}
.f-fs50{font-size: 50px;}
.f-fs100{font-size: 100px;}

.f-fw5{font-weight: 500;}
.f-fw6{font-weight: 600;}
.f-fw7{font-weight: 700;}
.f-fw8{font-weight: 800;}
.f-fw9{font-weight: 900;}

.f-fl1{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.f-fl2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.f-fl3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.f-fl4{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.f-fl5{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}