@media screen and (min-width: 970px) {
    .f-fs12_md{font-size: 12px;}
    .f-fs13_md{font-size: 13px;}
    .f-fs14_md{font-size: 14px;}
    .f-fs15_md{font-size: 15px;}
    .f-fs16_md{font-size: 16px;}
    .f-fs18_md{font-size: 18px;}
    .f-fs20_md{font-size: 20px;}
    .f-fs22_md{font-size: 22px;}
    .f-fs24_md{font-size: 24px;}
    .f-fs26_md{font-size: 26px;}
    .f-fs28_md{font-size: 28px;}
    .f-fs30_md{font-size: 30px;}
    .f-fs32_md{font-size: 32px;}
    .f-fs34_md{font-size: 34px;}
    .f-fs36_md{font-size: 36px;}
    .f-fs38_md{font-size: 38px;}
    .f-fs40_md{font-size: 40px;}
    .f-fs50_md{font-size: 50px;}
    .f-fs100_md{font-size: 100px;}

    .f-fw5_md{font-weight: 500;}
    .f-fw6_md{font-weight: 600;}
    .f-fw7_md{font-weight: 700;}
    .f-fw8_md{font-weight: 800;}
    .f-fw9_md{font-weight: 900;}

    .f-fl1_md{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
    .f-fl2_md{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
    .f-fl3_md{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
    .f-fl4_md{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
    .f-fl5_md{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
}