@media screen and (min-width: 768px) {
    .f-fs12_ms{font-size: 12px;}
    .f-fs13_ms{font-size: 13px;}
    .f-fs14_ms{font-size: 14px;}
    .f-fs15_ms{font-size: 15px;}
    .f-fs16_ms{font-size: 16px;}
    .f-fs18_ms{font-size: 18px;}
    .f-fs20_ms{font-size: 20px;}
    .f-fs22_ms{font-size: 22px;}
    .f-fs24_ms{font-size: 24px;}
    .f-fs26_ms{font-size: 26px;}
    .f-fs28_ms{font-size: 28px;}
    .f-fs30_ms{font-size: 30px;}
    .f-fs32_ms{font-size: 32px;}
    .f-fs34_ms{font-size: 34px;}
    .f-fs36_ms{font-size: 36px;}
    .f-fs38_ms{font-size: 38px;}
    .f-fs40_ms{font-size: 40px;}
    .f-fs50_ms{font-size: 50px;}
    .f-fs100_ms{font-size: 100px;}

    .f-fw5_ms{font-weight: 500;}
    .f-fw6_ms{font-weight: 600;}
    .f-fw7_ms{font-weight: 700;}
    .f-fw8_ms{font-weight: 800;}
    .f-fw9_ms{font-weight: 900;}

    .f-fl1_ms{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
    .f-fl2_ms{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
    .f-fl3_ms{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
    .f-fl4_ms{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
    .f-fl5_ms{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
}