/* 默认 margin */
.f-mlra{margin-left: auto;margin-right: auto;}

.f-m5{margin: 5px;}
.f-m10{margin: 10px;}
.f-m15{margin: 15px;}
.f-m20{margin: 20px;}
.f-m25{margin: 25px;}
.f-m30{margin: 30px;}
.f-m35{margin: 35px;}
.f-m40{margin: 40px;}
.f-m45{margin: 45px;}
.f-m50{margin: 50px;}
.f-m55{margin: 55px;}
.f-m60{margin: 60px;}
.f-m65{margin: 65px;}
.f-m70{margin: 70px;}
.f-m75{margin: 75px;}
.f-m80{margin: 80px;}
.f-m85{margin: 85px;}
.f-m90{margin: 90px;}
.f-m95{margin: 95px;}
.f-m100{margin: 100px;}

.f-ml5{margin-left: 5px;}
.f-ml10{margin-left: 10px;}
.f-ml15{margin-left: 15px;}
.f-ml20{margin-left: 20px;}
.f-ml25{margin-left: 25px;}
.f-ml30{margin-left: 30px;}
.f-ml35{margin-left: 35px;}
.f-ml40{margin-left: 40px;}
.f-ml45{margin-left: 45px;}
.f-ml50{margin-left: 50px;}
.f-ml55{margin-left: 55px;}
.f-ml60{margin-left: 60px;}
.f-ml65{margin-left: 65px;}
.f-ml70{margin-left: 70px;}
.f-ml75{margin-left: 75px;}
.f-ml80{margin-left: 80px;}
.f-ml85{margin-left: 85px;}
.f-ml90{margin-left: 90px;}
.f-ml95{margin-left: 95px;}
.f-ml100{margin-left: 100px;}

.f-mt5{margin-top: 5px;}
.f-mt10{margin-top: 10px;}
.f-mt15{margin-top: 15px;}
.f-mt20{margin-top: 20px;}
.f-mt25{margin-top: 25px;}
.f-mt30{margin-top: 30px;}
.f-mt35{margin-top: 35px;}
.f-mt40{margin-top: 40px;}
.f-mt45{margin-top: 45px;}
.f-mt50{margin-top: 50px;}
.f-mt55{margin-top: 55px;}
.f-mt60{margin-top: 60px;}
.f-mt65{margin-top: 65px;}
.f-mt70{margin-top: 70px;}
.f-mt75{margin-top: 75px;}
.f-mt80{margin-top: 80px;}
.f-mt85{margin-top: 85px;}
.f-mt90{margin-top: 90px;}
.f-mt95{margin-top: 95px;}
.f-mt100{margin-top: 100px;}

.f-mr5{margin-right: 5px;}
.f-mr10{margin-right: 10px;}
.f-mr15{margin-right: 15px;}
.f-mr20{margin-right: 20px;}
.f-mr25{margin-right: 25px;}
.f-mr30{margin-right: 30px;}
.f-mr35{margin-right: 35px;}
.f-mr40{margin-right: 40px;}
.f-mr45{margin-right: 45px;}
.f-mr50{margin-right: 50px;}
.f-mr55{margin-right: 55px;}
.f-mr60{margin-right: 60px;}
.f-mr65{margin-right: 65px;}
.f-mr70{margin-right: 70px;}
.f-mr75{margin-right: 75px;}
.f-mr80{margin-right: 80px;}
.f-mr85{margin-right: 85px;}
.f-mr90{margin-right: 90px;}
.f-mr95{margin-right: 95px;}
.f-mr100{margin-right: 100px;}

.f-mb5{margin-bottom: 5px;}
.f-mb10{margin-bottom: 10px;}
.f-mb15{margin-bottom: 15px;}
.f-mb20{margin-bottom: 20px;}
.f-mb25{margin-bottom: 25px;}
.f-mb30{margin-bottom: 30px;}
.f-mb35{margin-bottom: 35px;}
.f-mb40{margin-bottom: 40px;}
.f-mb45{margin-bottom: 45px;}
.f-mb50{margin-bottom: 50px;}
.f-mb55{margin-bottom: 55px;}
.f-mb60{margin-bottom: 60px;}
.f-mb65{margin-bottom: 65px;}
.f-mb70{margin-bottom: 70px;}
.f-mb75{margin-bottom: 75px;}
.f-mb80{margin-bottom: 80px;}
.f-mb85{margin-bottom: 85px;}
.f-mb90{margin-bottom: 90px;}
.f-mb95{margin-bottom: 95px;}
.f-mb100{margin-bottom: 100px;}