/* lg margin */
@media screen and (min-width: 1200px) {
    .f-mlra_lg{margin-left: auto;margin-right: auto;}

    .f-m5_lg{margin: 5px;}
    .f-m10_lg{margin: 10px;}
    .f-m15_lg{margin: 15px;}
    .f-m20_lg{margin: 20px;}
    .f-m25_lg{margin: 25px;}
    .f-m30_lg{margin: 30px;}
    .f-m35_lg{margin: 35px;}
    .f-m40_lg{margin: 40px;}
    .f-m45_lg{margin: 45px;}
    .f-m50_lg{margin: 50px;}
    .f-m55_lg{margin: 55px;}
    .f-m60_lg{margin: 60px;}
    .f-m65_lg{margin: 65px;}
    .f-m70_lg{margin: 70px;}
    .f-m75_lg{margin: 75px;}
    .f-m80_lg{margin: 80px;}
    .f-m85_lg{margin: 85px;}
    .f-m90_lg{margin: 90px;}
    .f-m95_lg{margin: 95px;}
    .f-m100_lg{margin: 100px;}

    .f-ml5_lg{margin-left: 5px;}
    .f-ml10_lg{margin-left: 10px;}
    .f-ml15_lg{margin-left: 15px;}
    .f-ml20_lg{margin-left: 20px;}
    .f-ml25_lg{margin-left: 25px;}
    .f-ml30_lg{margin-left: 30px;}
    .f-ml35_lg{margin-left: 35px;}
    .f-ml40_lg{margin-left: 40px;}
    .f-ml45_lg{margin-left: 45px;}
    .f-ml50_lg{margin-left: 50px;}
    .f-ml55_lg{margin-left: 55px;}
    .f-ml60_lg{margin-left: 60px;}
    .f-ml65_lg{margin-left: 65px;}
    .f-ml70_lg{margin-left: 70px;}
    .f-ml75_lg{margin-left: 75px;}
    .f-ml80_lg{margin-left: 80px;}
    .f-ml85_lg{margin-left: 85px;}
    .f-ml90_lg{margin-left: 90px;}
    .f-ml95_lg{margin-left: 95px;}
    .f-ml100_lg{margin-left: 100px;}

    .f-mt5_lg{margin-top: 5px;}
    .f-mt10_lg{margin-top: 10px;}
    .f-mt15_lg{margin-top: 15px;}
    .f-mt20_lg{margin-top: 20px;}
    .f-mt25_lg{margin-top: 25px;}
    .f-mt30_lg{margin-top: 30px;}
    .f-mt35_lg{margin-top: 35px;}
    .f-mt40_lg{margin-top: 40px;}
    .f-mt45_lg{margin-top: 45px;}
    .f-mt50_lg{margin-top: 50px;}
    .f-mt55_lg{margin-top: 55px;}
    .f-mt60_lg{margin-top: 60px;}
    .f-mt65_lg{margin-top: 65px;}
    .f-mt70_lg{margin-top: 70px;}
    .f-mt75_lg{margin-top: 75px;}
    .f-mt80_lg{margin-top: 80px;}
    .f-mt85_lg{margin-top: 85px;}
    .f-mt90_lg{margin-top: 90px;}
    .f-mt95_lg{margin-top: 95px;}
    .f-mt100_lg{margin-top: 100px;}

    .f-mr5_lg{margin-right: 5px;}
    .f-mr10_lg{margin-right: 10px;}
    .f-mr15_lg{margin-right: 15px;}
    .f-mr20_lg{margin-right: 20px;}
    .f-mr25_lg{margin-right: 25px;}
    .f-mr30_lg{margin-right: 30px;}
    .f-mr35_lg{margin-right: 35px;}
    .f-mr40_lg{margin-right: 40px;}
    .f-mr45_lg{margin-right: 45px;}
    .f-mr50_lg{margin-right: 50px;}
    .f-mr55_lg{margin-right: 55px;}
    .f-mr60_lg{margin-right: 60px;}
    .f-mr65_lg{margin-right: 65px;}
    .f-mr70_lg{margin-right: 70px;}
    .f-mr75_lg{margin-right: 75px;}
    .f-mr80_lg{margin-right: 80px;}
    .f-mr85_lg{margin-right: 85px;}
    .f-mr90_lg{margin-right: 90px;}
    .f-mr95_lg{margin-right: 95px;}
    .f-mr100_lg{margin-right: 100px;}

    .f-mb5_lg{margin-bottom: 5px;}
    .f-mb10_lg{margin-bottom: 10px;}
    .f-mb15_lg{margin-bottom: 15px;}
    .f-mb20_lg{margin-bottom: 20px;}
    .f-mb25_lg{margin-bottom: 25px;}
    .f-mb30_lg{margin-bottom: 30px;}
    .f-mb35_lg{margin-bottom: 35px;}
    .f-mb40_lg{margin-bottom: 40px;}
    .f-mb45_lg{margin-bottom: 45px;}
    .f-mb50_lg{margin-bottom: 50px;}
    .f-mb55_lg{margin-bottom: 55px;}
    .f-mb60_lg{margin-bottom: 60px;}
    .f-mb65_lg{margin-bottom: 65px;}
    .f-mb70_lg{margin-bottom: 70px;}
    .f-mb75_lg{margin-bottom: 75px;}
    .f-mb80_lg{margin-bottom: 80px;}
    .f-mb85_lg{margin-bottom: 85px;}
    .f-mb90_lg{margin-bottom: 90px;}
    .f-mb95_lg{margin-bottom: 95px;}
    .f-mb100_lg{margin-bottom: 100px;}
}