/* md margin */
@media screen and (min-width: 970px) {
    .f-mlra_md{margin-left: auto;margin-right: auto;}

    .f-m5_md{margin: 5px;}
    .f-m10_md{margin: 10px;}
    .f-m15_md{margin: 15px;}
    .f-m20_md{margin: 20px;}
    .f-m25_md{margin: 25px;}
    .f-m30_md{margin: 30px;}
    .f-m35_md{margin: 35px;}
    .f-m40_md{margin: 40px;}
    .f-m45_md{margin: 45px;}
    .f-m50_md{margin: 50px;}
    .f-m55_md{margin: 55px;}
    .f-m60_md{margin: 60px;}
    .f-m65_md{margin: 65px;}
    .f-m70_md{margin: 70px;}
    .f-m75_md{margin: 75px;}
    .f-m80_md{margin: 80px;}
    .f-m85_md{margin: 85px;}
    .f-m90_md{margin: 90px;}
    .f-m95_md{margin: 95px;}
    .f-m100_md{margin: 100px;}

    .f-ml5_md{margin-left: 5px;}
    .f-ml10_md{margin-left: 10px;}
    .f-ml15_md{margin-left: 15px;}
    .f-ml20_md{margin-left: 20px;}
    .f-ml25_md{margin-left: 25px;}
    .f-ml30_md{margin-left: 30px;}
    .f-ml35_md{margin-left: 35px;}
    .f-ml40_md{margin-left: 40px;}
    .f-ml45_md{margin-left: 45px;}
    .f-ml50_md{margin-left: 50px;}
    .f-ml55_md{margin-left: 55px;}
    .f-ml60_md{margin-left: 60px;}
    .f-ml65_md{margin-left: 65px;}
    .f-ml70_md{margin-left: 70px;}
    .f-ml75_md{margin-left: 75px;}
    .f-ml80_md{margin-left: 80px;}
    .f-ml85_md{margin-left: 85px;}
    .f-ml90_md{margin-left: 90px;}
    .f-ml95_md{margin-left: 95px;}
    .f-ml100_md{margin-left: 100px;}

    .f-mt5_md{margin-top: 5px;}
    .f-mt10_md{margin-top: 10px;}
    .f-mt15_md{margin-top: 15px;}
    .f-mt20_md{margin-top: 20px;}
    .f-mt25_md{margin-top: 25px;}
    .f-mt30_md{margin-top: 30px;}
    .f-mt35_md{margin-top: 35px;}
    .f-mt40_md{margin-top: 40px;}
    .f-mt45_md{margin-top: 45px;}
    .f-mt50_md{margin-top: 50px;}
    .f-mt55_md{margin-top: 55px;}
    .f-mt60_md{margin-top: 60px;}
    .f-mt65_md{margin-top: 65px;}
    .f-mt70_md{margin-top: 70px;}
    .f-mt75_md{margin-top: 75px;}
    .f-mt80_md{margin-top: 80px;}
    .f-mt85_md{margin-top: 85px;}
    .f-mt90_md{margin-top: 90px;}
    .f-mt95_md{margin-top: 95px;}
    .f-mt100_md{margin-top: 100px;}

    .f-mr5_md{margin-right: 5px;}
    .f-mr10_md{margin-right: 10px;}
    .f-mr15_md{margin-right: 15px;}
    .f-mr20_md{margin-right: 20px;}
    .f-mr25_md{margin-right: 25px;}
    .f-mr30_md{margin-right: 30px;}
    .f-mr35_md{margin-right: 35px;}
    .f-mr40_md{margin-right: 40px;}
    .f-mr45_md{margin-right: 45px;}
    .f-mr50_md{margin-right: 50px;}
    .f-mr55_md{margin-right: 55px;}
    .f-mr60_md{margin-right: 60px;}
    .f-mr65_md{margin-right: 65px;}
    .f-mr70_md{margin-right: 70px;}
    .f-mr75_md{margin-right: 75px;}
    .f-mr80_md{margin-right: 80px;}
    .f-mr85_md{margin-right: 85px;}
    .f-mr90_md{margin-right: 90px;}
    .f-mr95_md{margin-right: 95px;}
    .f-mr100_md{margin-right: 100px;}

    .f-mb5_md{margin-bottom: 5px;}
    .f-mb10_md{margin-bottom: 10px;}
    .f-mb15_md{margin-bottom: 15px;}
    .f-mb20_md{margin-bottom: 20px;}
    .f-mb25_md{margin-bottom: 25px;}
    .f-mb30_md{margin-bottom: 30px;}
    .f-mb35_md{margin-bottom: 35px;}
    .f-mb40_md{margin-bottom: 40px;}
    .f-mb45_md{margin-bottom: 45px;}
    .f-mb50_md{margin-bottom: 50px;}
    .f-mb55_md{margin-bottom: 55px;}
    .f-mb60_md{margin-bottom: 60px;}
    .f-mb65_md{margin-bottom: 65px;}
    .f-mb70_md{margin-bottom: 70px;}
    .f-mb75_md{margin-bottom: 75px;}
    .f-mb80_md{margin-bottom: 80px;}
    .f-mb85_md{margin-bottom: 85px;}
    .f-mb90_md{margin-bottom: 90px;}
    .f-mb95_md{margin-bottom: 95px;}
    .f-mb100_md{margin-bottom: 100px;}
}