/* ms margin */
@media screen and (min-width: 768px) {
    .f-mlra_ms{margin-left: auto;margin-right: auto;}

    .f-m5_ms{margin: 5px;}
    .f-m10_ms{margin: 10px;}
    .f-m15_ms{margin: 15px;}
    .f-m20_ms{margin: 20px;}
    .f-m25_ms{margin: 25px;}
    .f-m30_ms{margin: 30px;}
    .f-m35_ms{margin: 35px;}
    .f-m40_ms{margin: 40px;}
    .f-m45_ms{margin: 45px;}
    .f-m50_ms{margin: 50px;}
    .f-m55_ms{margin: 55px;}
    .f-m60_ms{margin: 60px;}
    .f-m65_ms{margin: 65px;}
    .f-m70_ms{margin: 70px;}
    .f-m75_ms{margin: 75px;}
    .f-m80_ms{margin: 80px;}
    .f-m85_ms{margin: 85px;}
    .f-m90_ms{margin: 90px;}
    .f-m95_ms{margin: 95px;}
    .f-m100_ms{margin: 100px;}

    .f-ml5_ms{margin-left: 5px;}
    .f-ml10_ms{margin-left: 10px;}
    .f-ml15_ms{margin-left: 15px;}
    .f-ml20_ms{margin-left: 20px;}
    .f-ml25_ms{margin-left: 25px;}
    .f-ml30_ms{margin-left: 30px;}
    .f-ml35_ms{margin-left: 35px;}
    .f-ml40_ms{margin-left: 40px;}
    .f-ml45_ms{margin-left: 45px;}
    .f-ml50_ms{margin-left: 50px;}
    .f-ml55_ms{margin-left: 55px;}
    .f-ml60_ms{margin-left: 60px;}
    .f-ml65_ms{margin-left: 65px;}
    .f-ml70_ms{margin-left: 70px;}
    .f-ml75_ms{margin-left: 75px;}
    .f-ml80_ms{margin-left: 80px;}
    .f-ml85_ms{margin-left: 85px;}
    .f-ml90_ms{margin-left: 90px;}
    .f-ml95_ms{margin-left: 95px;}
    .f-ml100_ms{margin-left: 100px;}

    .f-mt5_ms{margin-top: 5px;}
    .f-mt10_ms{margin-top: 10px;}
    .f-mt15_ms{margin-top: 15px;}
    .f-mt20_ms{margin-top: 20px;}
    .f-mt25_ms{margin-top: 25px;}
    .f-mt30_ms{margin-top: 30px;}
    .f-mt35_ms{margin-top: 35px;}
    .f-mt40_ms{margin-top: 40px;}
    .f-mt45_ms{margin-top: 45px;}
    .f-mt50_ms{margin-top: 50px;}
    .f-mt55_ms{margin-top: 55px;}
    .f-mt60_ms{margin-top: 60px;}
    .f-mt65_ms{margin-top: 65px;}
    .f-mt70_ms{margin-top: 70px;}
    .f-mt75_ms{margin-top: 75px;}
    .f-mt80_ms{margin-top: 80px;}
    .f-mt85_ms{margin-top: 85px;}
    .f-mt90_ms{margin-top: 90px;}
    .f-mt95_ms{margin-top: 95px;}
    .f-mt100_ms{margin-top: 100px;}

    .f-mr5_ms{margin-right: 5px;}
    .f-mr10_ms{margin-right: 10px;}
    .f-mr15_ms{margin-right: 15px;}
    .f-mr20_ms{margin-right: 20px;}
    .f-mr25_ms{margin-right: 25px;}
    .f-mr30_ms{margin-right: 30px;}
    .f-mr35_ms{margin-right: 35px;}
    .f-mr40_ms{margin-right: 40px;}
    .f-mr45_ms{margin-right: 45px;}
    .f-mr50_ms{margin-right: 50px;}
    .f-mr55_ms{margin-right: 55px;}
    .f-mr60_ms{margin-right: 60px;}
    .f-mr65_ms{margin-right: 65px;}
    .f-mr70_ms{margin-right: 70px;}
    .f-mr75_ms{margin-right: 75px;}
    .f-mr80_ms{margin-right: 80px;}
    .f-mr85_ms{margin-right: 85px;}
    .f-mr90_ms{margin-right: 90px;}
    .f-mr95_ms{margin-right: 95px;}
    .f-mr100_ms{margin-right: 100px;}

    .f-mb5_ms{margin-bottom: 5px;}
    .f-mb10_ms{margin-bottom: 10px;}
    .f-mb15_ms{margin-bottom: 15px;}
    .f-mb20_ms{margin-bottom: 20px;}
    .f-mb25_ms{margin-bottom: 25px;}
    .f-mb30_ms{margin-bottom: 30px;}
    .f-mb35_ms{margin-bottom: 35px;}
    .f-mb40_ms{margin-bottom: 40px;}
    .f-mb45_ms{margin-bottom: 45px;}
    .f-mb50_ms{margin-bottom: 50px;}
    .f-mb55_ms{margin-bottom: 55px;}
    .f-mb60_ms{margin-bottom: 60px;}
    .f-mb65_ms{margin-bottom: 65px;}
    .f-mb70_ms{margin-bottom: 70px;}
    .f-mb75_ms{margin-bottom: 75px;}
    .f-mb80_ms{margin-bottom: 80px;}
    .f-mb85_ms{margin-bottom: 85px;}
    .f-mb90_ms{margin-bottom: 90px;}
    .f-mb95_ms{margin-bottom: 95px;}
    .f-mb100_ms{margin-bottom: 100px;}
}