/* xs margin */
@media screen and (max-width: 767px) {
    .f-mlra_xs{margin-left: auto;margin-right: auto;}

    .f-m5_xs{margin: 5px;}
    .f-m10_xs{margin: 10px;}
    .f-m15_xs{margin: 15px;}
    .f-m20_xs{margin: 20px;}
    .f-m25_xs{margin: 25px;}
    .f-m30_xs{margin: 30px;}
    .f-m35_xs{margin: 35px;}
    .f-m40_xs{margin: 40px;}
    .f-m45_xs{margin: 45px;}
    .f-m50_xs{margin: 50px;}
    .f-m55_xs{margin: 55px;}
    .f-m60_xs{margin: 60px;}
    .f-m65_xs{margin: 65px;}
    .f-m70_xs{margin: 70px;}
    .f-m75_xs{margin: 75px;}
    .f-m80_xs{margin: 80px;}
    .f-m85_xs{margin: 85px;}
    .f-m90_xs{margin: 90px;}
    .f-m95_xs{margin: 95px;}
    .f-m100_xs{margin: 100px;}

    .f-ml5_xs{margin-left: 5px;}
    .f-ml10_xs{margin-left: 10px;}
    .f-ml15_xs{margin-left: 15px;}
    .f-ml20_xs{margin-left: 20px;}
    .f-ml25_xs{margin-left: 25px;}
    .f-ml30_xs{margin-left: 30px;}
    .f-ml35_xs{margin-left: 35px;}
    .f-ml40_xs{margin-left: 40px;}
    .f-ml45_xs{margin-left: 45px;}
    .f-ml50_xs{margin-left: 50px;}
    .f-ml55_xs{margin-left: 55px;}
    .f-ml60_xs{margin-left: 60px;}
    .f-ml65_xs{margin-left: 65px;}
    .f-ml70_xs{margin-left: 70px;}
    .f-ml75_xs{margin-left: 75px;}
    .f-ml80_xs{margin-left: 80px;}
    .f-ml85_xs{margin-left: 85px;}
    .f-ml90_xs{margin-left: 90px;}
    .f-ml95_xs{margin-left: 95px;}
    .f-ml100_xs{margin-left: 100px;}

    .f-mt5_xs{margin-top: 5px;}
    .f-mt10_xs{margin-top: 10px;}
    .f-mt15_xs{margin-top: 15px;}
    .f-mt20_xs{margin-top: 20px;}
    .f-mt25_xs{margin-top: 25px;}
    .f-mt30_xs{margin-top: 30px;}
    .f-mt35_xs{margin-top: 35px;}
    .f-mt40_xs{margin-top: 40px;}
    .f-mt45_xs{margin-top: 45px;}
    .f-mt50_xs{margin-top: 50px;}
    .f-mt55_xs{margin-top: 55px;}
    .f-mt60_xs{margin-top: 60px;}
    .f-mt65_xs{margin-top: 65px;}
    .f-mt70_xs{margin-top: 70px;}
    .f-mt75_xs{margin-top: 75px;}
    .f-mt80_xs{margin-top: 80px;}
    .f-mt85_xs{margin-top: 85px;}
    .f-mt90_xs{margin-top: 90px;}
    .f-mt95_xs{margin-top: 95px;}
    .f-mt100_xs{margin-top: 100px;}

    .f-mr5_xs{margin-right: 5px;}
    .f-mr10_xs{margin-right: 10px;}
    .f-mr15_xs{margin-right: 15px;}
    .f-mr20_xs{margin-right: 20px;}
    .f-mr25_xs{margin-right: 25px;}
    .f-mr30_xs{margin-right: 30px;}
    .f-mr35_xs{margin-right: 35px;}
    .f-mr40_xs{margin-right: 40px;}
    .f-mr45_xs{margin-right: 45px;}
    .f-mr50_xs{margin-right: 50px;}
    .f-mr55_xs{margin-right: 55px;}
    .f-mr60_xs{margin-right: 60px;}
    .f-mr65_xs{margin-right: 65px;}
    .f-mr70_xs{margin-right: 70px;}
    .f-mr75_xs{margin-right: 75px;}
    .f-mr80_xs{margin-right: 80px;}
    .f-mr85_xs{margin-right: 85px;}
    .f-mr90_xs{margin-right: 90px;}
    .f-mr95_xs{margin-right: 95px;}
    .f-mr100_xs{margin-right: 100px;}

    .f-mb5_xs{margin-bottom: 5px;}
    .f-mb10_xs{margin-bottom: 10px;}
    .f-mb15_xs{margin-bottom: 15px;}
    .f-mb20_xs{margin-bottom: 20px;}
    .f-mb25_xs{margin-bottom: 25px;}
    .f-mb30_xs{margin-bottom: 30px;}
    .f-mb35_xs{margin-bottom: 35px;}
    .f-mb40_xs{margin-bottom: 40px;}
    .f-mb45_xs{margin-bottom: 45px;}
    .f-mb50_xs{margin-bottom: 50px;}
    .f-mb55_xs{margin-bottom: 55px;}
    .f-mb60_xs{margin-bottom: 60px;}
    .f-mb65_xs{margin-bottom: 65px;}
    .f-mb70_xs{margin-bottom: 70px;}
    .f-mb75_xs{margin-bottom: 75px;}
    .f-mb80_xs{margin-bottom: 80px;}
    .f-mb85_xs{margin-bottom: 85px;}
    .f-mb90_xs{margin-bottom: 90px;}
    .f-mb95_xs{margin-bottom: 95px;}
    .f-mb100_xs{margin-bottom: 100px;}
}