/* dispaly */
.f-db{display: block;}
.f-di{display: inline;}
.f-dib{display: inline-block;}
.f-df{display: flex;}
.f-dif{display: inline-flex;}

.f-aic{align-items: center;}
.f-ais{align-items: flex-start;}
.f-aie{align-items: flex-end;}

.f-juc{justify-content: center;}
.f-jus{justify-content: flex-start;}
.f-jue{justify-content: flex-end;}

.f-acc{align-content: center;}
.f-acs{align-content: flex-start;}
.f-ace{align-content: flex-end;}
.f-acsb{align-content: space-between;}
.f-acsa{align-content: space-around;}