.f-round{border-radius: 50%;}
.f-round4{border-radius: 4px;}
.f-round5{border-radius: 5px;}
.f-round6{border-radius: 6px;}
.f-round7{border-radius: 7px;}
.f-round8{border-radius: 8px;}
.f-round10{border-radius: 10px;}
.f-round15{border-radius: 15px;}
.f-round20{border-radius: 20px;}