/* md padding */
@media screen and (min-width: 970px) {
    .f-plra_md{padding-left: auto;padding-right: auto;}

    .f-p5_md{padding: 5px;}
    .f-p10_md{padding: 10px;}
    .f-p15_md{padding: 15px;}
    .f-p20_md{padding: 20px;}
    .f-p25_md{padding: 25px;}
    .f-p30_md{padding: 30px;}
    .f-p35_md{padding: 35px;}
    .f-p40_md{padding: 40px;}
    .f-p45_md{padding: 45px;}
    .f-p50_md{padding: 50px;}
    .f-p55_md{padding: 55px;}
    .f-p60_md{padding: 60px;}
    .f-p65_md{padding: 65px;}
    .f-p70_md{padding: 70px;}
    .f-p75_md{padding: 75px;}
    .f-p80_md{padding: 80px;}
    .f-p85_md{padding: 85px;}
    .f-p90_md{padding: 90px;}
    .f-p95_md{padding: 95px;}
    .f-p100_md{padding: 100px;}

    .f-pl5_md{padding-left: 5px;}
    .f-pl10_md{padding-left: 10px;}
    .f-pl15_md{padding-left: 15px;}
    .f-pl20_md{padding-left: 20px;}
    .f-pl25_md{padding-left: 25px;}
    .f-pl30_md{padding-left: 30px;}
    .f-pl35_md{padding-left: 35px;}
    .f-pl40_md{padding-left: 40px;}
    .f-pl45_md{padding-left: 45px;}
    .f-pl50_md{padding-left: 50px;}
    .f-pl55_md{padding-left: 55px;}
    .f-pl60_md{padding-left: 60px;}
    .f-pl65_md{padding-left: 65px;}
    .f-pl70_md{padding-left: 70px;}
    .f-pl75_md{padding-left: 75px;}
    .f-pl80_md{padding-left: 80px;}
    .f-pl85_md{padding-left: 85px;}
    .f-pl90_md{padding-left: 90px;}
    .f-pl95_md{padding-left: 95px;}
    .f-pl100_md{padding-left: 100px;}

    .f-pt5_md{padding-top: 5px;}
    .f-pt10_md{padding-top: 10px;}
    .f-pt15_md{padding-top: 15px;}
    .f-pt20_md{padding-top: 20px;}
    .f-pt25_md{padding-top: 25px;}
    .f-pt30_md{padding-top: 30px;}
    .f-pt35_md{padding-top: 35px;}
    .f-pt40_md{padding-top: 40px;}
    .f-pt45_md{padding-top: 45px;}
    .f-pt50_md{padding-top: 50px;}
    .f-pt55_md{padding-top: 55px;}
    .f-pt60_md{padding-top: 60px;}
    .f-pt65_md{padding-top: 65px;}
    .f-pt70_md{padding-top: 70px;}
    .f-pt75_md{padding-top: 75px;}
    .f-pt80_md{padding-top: 80px;}
    .f-pt85_md{padding-top: 85px;}
    .f-pt90_md{padding-top: 90px;}
    .f-pt95_md{padding-top: 95px;}
    .f-pt100_md{padding-top: 100px;}

    .f-pr5_md{padding-right: 5px;}
    .f-pr10_md{padding-right: 10px;}
    .f-pr15_md{padding-right: 15px;}
    .f-pr20_md{padding-right: 20px;}
    .f-pr25_md{padding-right: 25px;}
    .f-pr30_md{padding-right: 30px;}
    .f-pr35_md{padding-right: 35px;}
    .f-pr40_md{padding-right: 40px;}
    .f-pr45_md{padding-right: 45px;}
    .f-pr50_md{padding-right: 50px;}
    .f-pr55_md{padding-right: 55px;}
    .f-pr60_md{padding-right: 60px;}
    .f-pr65_md{padding-right: 65px;}
    .f-pr70_md{padding-right: 70px;}
    .f-pr75_md{padding-right: 75px;}
    .f-pr80_md{padding-right: 80px;}
    .f-pr85_md{padding-right: 85px;}
    .f-pr90_md{padding-right: 90px;}
    .f-pr95_md{padding-right: 95px;}
    .f-pr100_md{padding-right: 100px;}

    .f-pb5_md{padding-bottom: 5px;}
    .f-pb10_md{padding-bottom: 10px;}
    .f-pb15_md{padding-bottom: 15px;}
    .f-pb20_md{padding-bottom: 20px;}
    .f-pb25_md{padding-bottom: 25px;}
    .f-pb30_md{padding-bottom: 30px;}
    .f-pb35_md{padding-bottom: 35px;}
    .f-pb40_md{padding-bottom: 40px;}
    .f-pb45_md{padding-bottom: 45px;}
    .f-pb50_md{padding-bottom: 50px;}
    .f-pb55_md{padding-bottom: 55px;}
    .f-pb60_md{padding-bottom: 60px;}
    .f-pb65_md{padding-bottom: 65px;}
    .f-pb70_md{padding-bottom: 70px;}
    .f-pb75_md{padding-bottom: 75px;}
    .f-pb80_md{padding-bottom: 80px;}
    .f-pb85_md{padding-bottom: 85px;}
    .f-pb90_md{padding-bottom: 90px;}
    .f-pb95_md{padding-bottom: 95px;}
    .f-pb100_md{padding-bottom: 100px;}
}