/* ms padding */
@media screen and (min-width: 768px) {
    .f-plra_ms{padding-left: auto;padding-right: auto;}

    .f-p5_ms{padding: 5px;}
    .f-p10_ms{padding: 10px;}
    .f-p15_ms{padding: 15px;}
    .f-p20_ms{padding: 20px;}
    .f-p25_ms{padding: 25px;}
    .f-p30_ms{padding: 30px;}
    .f-p35_ms{padding: 35px;}
    .f-p40_ms{padding: 40px;}
    .f-p45_ms{padding: 45px;}
    .f-p50_ms{padding: 50px;}
    .f-p55_ms{padding: 55px;}
    .f-p60_ms{padding: 60px;}
    .f-p65_ms{padding: 65px;}
    .f-p70_ms{padding: 70px;}
    .f-p75_ms{padding: 75px;}
    .f-p80_ms{padding: 80px;}
    .f-p85_ms{padding: 85px;}
    .f-p90_ms{padding: 90px;}
    .f-p95_ms{padding: 95px;}
    .f-p100_ms{padding: 100px;}

    .f-pl5_ms{padding-left: 5px;}
    .f-pl10_ms{padding-left: 10px;}
    .f-pl15_ms{padding-left: 15px;}
    .f-pl20_ms{padding-left: 20px;}
    .f-pl25_ms{padding-left: 25px;}
    .f-pl30_ms{padding-left: 30px;}
    .f-pl35_ms{padding-left: 35px;}
    .f-pl40_ms{padding-left: 40px;}
    .f-pl45_ms{padding-left: 45px;}
    .f-pl50_ms{padding-left: 50px;}
    .f-pl55_ms{padding-left: 55px;}
    .f-pl60_ms{padding-left: 60px;}
    .f-pl65_ms{padding-left: 65px;}
    .f-pl70_ms{padding-left: 70px;}
    .f-pl75_ms{padding-left: 75px;}
    .f-pl80_ms{padding-left: 80px;}
    .f-pl85_ms{padding-left: 85px;}
    .f-pl90_ms{padding-left: 90px;}
    .f-pl95_ms{padding-left: 95px;}
    .f-pl100_ms{padding-left: 100px;}

    .f-pt5_ms{padding-top: 5px;}
    .f-pt10_ms{padding-top: 10px;}
    .f-pt15_ms{padding-top: 15px;}
    .f-pt20_ms{padding-top: 20px;}
    .f-pt25_ms{padding-top: 25px;}
    .f-pt30_ms{padding-top: 30px;}
    .f-pt35_ms{padding-top: 35px;}
    .f-pt40_ms{padding-top: 40px;}
    .f-pt45_ms{padding-top: 45px;}
    .f-pt50_ms{padding-top: 50px;}
    .f-pt55_ms{padding-top: 55px;}
    .f-pt60_ms{padding-top: 60px;}
    .f-pt65_ms{padding-top: 65px;}
    .f-pt70_ms{padding-top: 70px;}
    .f-pt75_ms{padding-top: 75px;}
    .f-pt80_ms{padding-top: 80px;}
    .f-pt85_ms{padding-top: 85px;}
    .f-pt90_ms{padding-top: 90px;}
    .f-pt95_ms{padding-top: 95px;}
    .f-pt100_ms{padding-top: 100px;}

    .f-pr5_ms{padding-right: 5px;}
    .f-pr10_ms{padding-right: 10px;}
    .f-pr15_ms{padding-right: 15px;}
    .f-pr20_ms{padding-right: 20px;}
    .f-pr25_ms{padding-right: 25px;}
    .f-pr30_ms{padding-right: 30px;}
    .f-pr35_ms{padding-right: 35px;}
    .f-pr40_ms{padding-right: 40px;}
    .f-pr45_ms{padding-right: 45px;}
    .f-pr50_ms{padding-right: 50px;}
    .f-pr55_ms{padding-right: 55px;}
    .f-pr60_ms{padding-right: 60px;}
    .f-pr65_ms{padding-right: 65px;}
    .f-pr70_ms{padding-right: 70px;}
    .f-pr75_ms{padding-right: 75px;}
    .f-pr80_ms{padding-right: 80px;}
    .f-pr85_ms{padding-right: 85px;}
    .f-pr90_ms{padding-right: 90px;}
    .f-pr95_ms{padding-right: 95px;}
    .f-pr100_ms{padding-right: 100px;}

    .f-pb5_ms{padding-bottom: 5px;}
    .f-pb10_ms{padding-bottom: 10px;}
    .f-pb15_ms{padding-bottom: 15px;}
    .f-pb20_ms{padding-bottom: 20px;}
    .f-pb25_ms{padding-bottom: 25px;}
    .f-pb30_ms{padding-bottom: 30px;}
    .f-pb35_ms{padding-bottom: 35px;}
    .f-pb40_ms{padding-bottom: 40px;}
    .f-pb45_ms{padding-bottom: 45px;}
    .f-pb50_ms{padding-bottom: 50px;}
    .f-pb55_ms{padding-bottom: 55px;}
    .f-pb60_ms{padding-bottom: 60px;}
    .f-pb65_ms{padding-bottom: 65px;}
    .f-pb70_ms{padding-bottom: 70px;}
    .f-pb75_ms{padding-bottom: 75px;}
    .f-pb80_ms{padding-bottom: 80px;}
    .f-pb85_ms{padding-bottom: 85px;}
    .f-pb90_ms{padding-bottom: 90px;}
    .f-pb95_ms{padding-bottom: 95px;}
    .f-pb100_ms{padding-bottom: 100px;}
}