/* xs padding */
@media screen and (max-width: 767px) {
    .f-plra_xs{padding-left: auto;padding-right: auto;}

    .f-p5_xs{padding: 5px;}
    .f-p10_xs{padding: 10px;}
    .f-p15_xs{padding: 15px;}
    .f-p20_xs{padding: 20px;}
    .f-p25_xs{padding: 25px;}
    .f-p30_xs{padding: 30px;}
    .f-p35_xs{padding: 35px;}
    .f-p40_xs{padding: 40px;}
    .f-p45_xs{padding: 45px;}
    .f-p50_xs{padding: 50px;}
    .f-p55_xs{padding: 55px;}
    .f-p60_xs{padding: 60px;}
    .f-p65_xs{padding: 65px;}
    .f-p70_xs{padding: 70px;}
    .f-p75_xs{padding: 75px;}
    .f-p80_xs{padding: 80px;}
    .f-p85_xs{padding: 85px;}
    .f-p90_xs{padding: 90px;}
    .f-p95_xs{padding: 95px;}
    .f-p100_xs{padding: 100px;}

    .f-pl5_xs{padding-left: 5px;}
    .f-pl10_xs{padding-left: 10px;}
    .f-pl15_xs{padding-left: 15px;}
    .f-pl20_xs{padding-left: 20px;}
    .f-pl25_xs{padding-left: 25px;}
    .f-pl30_xs{padding-left: 30px;}
    .f-pl35_xs{padding-left: 35px;}
    .f-pl40_xs{padding-left: 40px;}
    .f-pl45_xs{padding-left: 45px;}
    .f-pl50_xs{padding-left: 50px;}
    .f-pl55_xs{padding-left: 55px;}
    .f-pl60_xs{padding-left: 60px;}
    .f-pl65_xs{padding-left: 65px;}
    .f-pl70_xs{padding-left: 70px;}
    .f-pl75_xs{padding-left: 75px;}
    .f-pl80_xs{padding-left: 80px;}
    .f-pl85_xs{padding-left: 85px;}
    .f-pl90_xs{padding-left: 90px;}
    .f-pl95_xs{padding-left: 95px;}
    .f-pl100_xs{padding-left: 100px;}

    .f-pt5_xs{padding-top: 5px;}
    .f-pt10_xs{padding-top: 10px;}
    .f-pt15_xs{padding-top: 15px;}
    .f-pt20_xs{padding-top: 20px;}
    .f-pt25_xs{padding-top: 25px;}
    .f-pt30_xs{padding-top: 30px;}
    .f-pt35_xs{padding-top: 35px;}
    .f-pt40_xs{padding-top: 40px;}
    .f-pt45_xs{padding-top: 45px;}
    .f-pt50_xs{padding-top: 50px;}
    .f-pt55_xs{padding-top: 55px;}
    .f-pt60_xs{padding-top: 60px;}
    .f-pt65_xs{padding-top: 65px;}
    .f-pt70_xs{padding-top: 70px;}
    .f-pt75_xs{padding-top: 75px;}
    .f-pt80_xs{padding-top: 80px;}
    .f-pt85_xs{padding-top: 85px;}
    .f-pt90_xs{padding-top: 90px;}
    .f-pt95_xs{padding-top: 95px;}
    .f-pt100_xs{padding-top: 100px;}

    .f-pr5_xs{padding-right: 5px;}
    .f-pr10_xs{padding-right: 10px;}
    .f-pr15_xs{padding-right: 15px;}
    .f-pr20_xs{padding-right: 20px;}
    .f-pr25_xs{padding-right: 25px;}
    .f-pr30_xs{padding-right: 30px;}
    .f-pr35_xs{padding-right: 35px;}
    .f-pr40_xs{padding-right: 40px;}
    .f-pr45_xs{padding-right: 45px;}
    .f-pr50_xs{padding-right: 50px;}
    .f-pr55_xs{padding-right: 55px;}
    .f-pr60_xs{padding-right: 60px;}
    .f-pr65_xs{padding-right: 65px;}
    .f-pr70_xs{padding-right: 70px;}
    .f-pr75_xs{padding-right: 75px;}
    .f-pr80_xs{padding-right: 80px;}
    .f-pr85_xs{padding-right: 85px;}
    .f-pr90_xs{padding-right: 90px;}
    .f-pr95_xs{padding-right: 95px;}
    .f-pr100_xs{padding-right: 100px;}

    .f-pb5_xs{padding-bottom: 5px;}
    .f-pb10_xs{padding-bottom: 10px;}
    .f-pb15_xs{padding-bottom: 15px;}
    .f-pb20_xs{padding-bottom: 20px;}
    .f-pb25_xs{padding-bottom: 25px;}
    .f-pb30_xs{padding-bottom: 30px;}
    .f-pb35_xs{padding-bottom: 35px;}
    .f-pb40_xs{padding-bottom: 40px;}
    .f-pb45_xs{padding-bottom: 45px;}
    .f-pb50_xs{padding-bottom: 50px;}
    .f-pb55_xs{padding-bottom: 55px;}
    .f-pb60_xs{padding-bottom: 60px;}
    .f-pb65_xs{padding-bottom: 65px;}
    .f-pb70_xs{padding-bottom: 70px;}
    .f-pb75_xs{padding-bottom: 75px;}
    .f-pb80_xs{padding-bottom: 80px;}
    .f-pb85_xs{padding-bottom: 85px;}
    .f-pb90_xs{padding-bottom: 90px;}
    .f-pb95_xs{padding-bottom: 95px;}
    .f-pb100_xs{padding-bottom: 100px;}
}